# ===== Spark / Scala / SBT =====
target/
project/boot/
project/plugins/project/
lib_managed/
src_managed/
dist/
*.class

# Metals / Bloop (VS Code / Scala tools)
.metals/
.bloop/

# IDEs
.vscode/
.idea/
*.iml

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Data files (VERY IMPORTANT)
data/
*.csv

# Temporary / cache
.cache/
tmp/